.allCitizens {
  width: 100%;
  padding: 30px 30px 30px 30px;

  &__header {
    padding-bottom: 10px;

    &__link {
      color: $color-primary;
      text-decoration: none;
      font-size: 14px;
      font-weight: 700;
    }

    &__arrow {
      width: 32px;
      margin-right: 5px;
    }

    &__title {
      margin: 0;
      padding: 0;
      padding-top: 10px;
      font-size: 40px;
      font-weight: 700;
      color: $color-primary;
    }
  }

  &__image {
    width: 100%;
    object-fit: cover;
    padding-bottom: 20px;
  }
}
