.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color-primary;
  color: #fff;
  height: 88px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0em;
  margin-top: auto;
}
